   .wd-kanbas-navigator {
    background-color: black;
    color: white;
    padding: 0px;
    width: 80px;
    font-size: 0.8em;
  }
  .wd-kanbas-navigator li {
    list-style-type: none;
    margin-bottom: 20px;
    padding-top: 5px;
    text-align: center;
  }
  .wd-kanbas-navigator li a {
    color: red;
    text-decoration: none;
  }
  .wd-kanbas-navigator li.account a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigator li.active {
    background-color: white;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
  }
  .wd-kanbas-navigator li.active a {
    color: red;
    text-decoration: none;
  }
  .wd-kanbas-navigator li.active-account {
    background-color: white;
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
  }
  .wd-kanbas-navigator li.active-account i {
    color: gray;
    text-decoration: none;
  }
  .wd-kanbas-navigator-shrunk {
    color: red;
    padding: 20px;
    font-size: 0.8em;
  }
  .wd-kanbas-navigator-shrunk li {
    list-style-type: none;
    margin-bottom: 20px;
    padding-top: 5px;
  }
  .wd-kanbas-navigator-shrunk li a {
    color: red;
    text-decoration: none;
  }