.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
  .wd-flex-column-container {
    display: flex;
    flex-direction: column;
}
  .wd-flex-grow-1 {
    flex-grow: 1;
}
  .wd-right-aligned {
    text-align:right;
}
.wd-gray-button {
    background-color: lightgray;
    color:black
}
.wd-red-button {
    background-color: red;
}
.wd-offset {
    padding-left:50px;
}
.wd-assignment {
    border-left: 4px green solid;
}
.wd-link {
    color: red;
    text-decoration: none;
}
.wd-black-link {
    color: black;
    text-decoration: none;
}
.wd-rounded {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-width: 2px;
    border-style: solid;
}
.wd-boxed {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width:1px;
    border-style:solid;
    border-color:lightgray;
    padding:10px;
}
.wd-table-grades {
    margin-top:15px;
    border-width:1px;
    border-style:solid;
    border-color:lightgray;
}
.wd-table-grades th {
    border-width:1px;
    border-style:solid;
    border-color:lightgray;
    text-align:center;
}
.wd-table-grades-score {
    border-width:1px;
    border-style:solid;
    border-color:lightgray;
    text-align:center;
}